<% title "Messages with #{@person.login}" %>

<h2>Messages with <%= @person.login %></h2>

<%= @message.responses.first.content %>

<ul id="responses">
	<% @responses.each do |response| %>
		<li>
			<%= response.content %><br />
			<%= link_to response.replyer.login, response.replyer %><br />
			<%= time_ago_in_words(response.created_at) %> ago
		</li>
	<% end %>
</ul>


<% form_for [@message, @response] do |f| %>
	<p>
		<%= f.text_area :content %>
	</p>
	
	<p>
		<%= f.submit "Send" %>
	</p>
<% end %>