<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><a href="http://www.iwouldbangyou.com/">I Would Bang You</a></h1>
    <p>
      Dear <%= @mate.login %>,
    </p>
    <p>
			<%= link_to @user.login, user_url(@user) %> sent you a message.
    </p>
		<p>
			<em><%= ApplicationController.helpers.simple_format(@response.content) %></em>
		</p>
		
		<p><%= link_to "Click here to respond now.", message_url(@response.message) %></p>
		
		<p>
			Good luck!<br />
			The IWBY team
		</p>
		
		<p>Don't want to receive emails from I Would Bang You? <%= link_to "Click here", edit_user_registration_url %> to unsubscribe.</p>

  </body>
</html>

