-if current_user.mates.include?(@user)
	.rated
		-@rating = Rating.find_by_user_id_and_mate_id(current_user.id, @user.id)
		-if @rating.status == "bang"
			You would totally hit that.
		-elsif @rating.status == "date"
			Aww you like them.
		-elsif @rating.status == "nope"
			Ugh, they are gross.
		-unless @user.mates.include?(current_user)
			= link_to "I changed my mind", user_rating_path(@user, @rating), :method => :delete, :remote => true
		-else
			-@message = Message.where("sender_id = ? AND receiver_id = ? OR sender_id = ? AND receiver_id = ?", current_user.id, @user.id, @user.id, current_user.id).first
			-unless @message.nil?
				%br/
				You like each other! 
				=link_to "Message #{@user.pronoun}", @message, :class => "white-button"
			-else
				= link_to "I changed my mind", user_rating_path(@user, @rating), :method => :delete, :remote => true
		
-else
	%p= link_to "I would bang #{@user.pronoun}", user_ratings_path(@user, :status => "bang"), :method => :post, :remote => true, :class => "white-button disable"
	%p= link_to "I would date #{@user.pronoun}", user_ratings_path(@user, :status => "date"), :method => :post, :remote => true, :class => "white-button disable"
	%p= link_to "Eww gross, no way.", user_ratings_path(@user, :status => "nope"), :method => :post, :remote => true, :class => "white-button disable"