<% title "Crop this Photo" %>
<% content_for(:head) do %>
	<%= stylesheet_link_tag "jquery.Jcrop" %>
	<%= javascript_include_tag "jquery.Jcrop.min" %>
	<script type="text/javascript" charset="utf-8">
		$(function() {
	  	$('#cropbox').Jcrop({
				onChange: update_crop,  
				onSelect: update_crop,  
				setSelect: [0, 0, 90, 90],  
				aspectRatio: 1
			});
			function update_crop(coords) {
				var rx = 100/coords.w;  
				  var ry = 100/coords.h;  
				  $('#preview').css({  
				    width: Math.round(rx * <%= @photo.photo_geometry(:large).width %>) + 'px',  
				    height: Math.round(ry * <%= @photo.photo_geometry(:large).height %>) + 'px',  
				    marginLeft: '-' + Math.round(rx * coords.x) + 'px',  
				    marginTop: '-' + Math.round(ry * coords.y) + 'px'  
				  });
				
			  var ratio = <%= @photo.photo_geometry(:original).width %> / <%= @photo.photo_geometry(:large).width %>;   
				  $('#crop_x').val(Math.floor(coords.x * ratio));  
				  $('#crop_y').val(Math.floor(coords.y * ratio));  
				  $('#crop_w').val(Math.floor(coords.w * ratio));  
				  $('#crop_h').val(Math.floor(coords.h * ratio));  
			}
		});
	</script>
<% end %>

<div class="fl">
	<h2>Crop This Photo</h2>
	<%= image_tag @photo.photo.url(:large), :id => "cropbox" %>
</div>

<div class="fl" style="margin: 50px 0 0 25px">
	<h4 style="margin-bottom: 0;">Preview</h4>  
	<div style="width: 90px; height: 90px; overflow: hidden;">  
  	<%= image_tag @photo.photo.url(:large), :id => "preview" %>  
	</div>
	<% form_for [@user, @photo] do |f| %>
		<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>  
			<%= f.hidden_field attribute, :id => attribute %>  
		<% end %>
		<%= f.submit "Crop Photo", :class => "black-button", :style => "margin-top: 25px" %>
	<% end %>
</div>

<div class="clear"></div>
