!!! 5
%html
	%head
		%title= "#{content_for?(:title) ? yield(:title) : ""} - I Would Bang You"
		%link{ :rel => "icon",  :href => "favicon.png", :type => "image/png"}
		= stylesheet_link_tag 'css'
		= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
		= javascript_include_tag 'rails'
		= javascript_include_tag 'jquery.validate.min.js'
		= javascript_include_tag 'application'
		= csrf_meta_tag
		/[if lt IE 9]
			%script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
		= yield(:head)
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-27731822-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	
	%body
  	
		%header.main
			#content
				%h1= link_to "I Would Bang You", root_path
				%nav
					-if user_signed_in?
						%ul
							%li= link_to "home", root_path
							%li#messages= render :partial => "layouts/messages"
							%li= link_to "random", random_path
							%li= link_to "search", search_path
							%li#profile
								= link_to user_path(current_user.login) do
									= image_tag current_user.nav_photo
									= current_user.login
									%span.icon{ :style => "font-size: 10px;"} ↓
								.clear
								%ul#subnav
									%li= link_to "view / edit my profile", user_path(current_user.login)
									%li= link_to "history", history_path
									%li= link_to "account settings", edit_user_registration_path
									%li#logout= link_to "logout", destroy_user_session_path, :method => :delete
					-else
						%ul
							%li= link_to "register", new_user_registration_path
							%li= link_to "sign in", new_user_session_path
		.clear
		
		-flash.each do |name, msg|
			= content_tag :div, raw(msg), :id => "flash_#{name}", :class => "flash"
		
		#container.logged_in
			= yield
		.clear
		
		%footer
			#container
				.fl
					%h1= link_to "I Would Bang You", root_path
					%p!= "&copy; #{Time.now.year} #{link_to "Ryan MacInnes", user_path("goddamnyouryan")}"
				.fl{ :style => "margin: 0 0 50px 100px"}
					%nav.logged_in
						.fl
							%ul
								%li= link_to "Home", root_path
								%li= link_to "My Profile", user_path(current_user.login)
								%li{ :style => "text-transform: capitalize;"}= render :partial => "layouts/messages"
								%li= link_to "Search", search_path
								
						.fl{ :style => "margin-left: 264px;" }
							%ul
								%li= link_to "Edit My Profile", user_path(current_user.login)
								%li= link_to "History", history_path
								%li= link_to "Account Settings", edit_user_registration_path
								%li= link_to "Logout", destroy_user_session_path, :method => :delete
								
						.fl{ :style => "margin-left: 263px;" }
							%ul
								%li
									= link_to image_tag('twitter.png'), "http://www.twitter.com/iwouldbangyou", :target => "_blank"
									= link_to image_tag('facebook.png'), "http://www.facebook.com/pages/Iwouldbangyou/215857168475583", :target => "_blank"
								%li= link_to "About", about_path
								%li= link_to "Contact", contact_path
				.clear
					= link_to "Go to a random #{current_user.looking_for_colloquial} profile", random_path, :class => "white-button bottom-random"