!!! 5
%html
	%head
		%title I Would Bang You - The Best Thing to Ever Happen to Online Dating
		%link{ :rel => "icon",  :href => "/favicon.png", :type => "image/png"}
		= stylesheet_link_tag 'css'
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="/stylesheets/mobile.css" />
		<link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 768px)" href="/stylesheets/tablet.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
		-if RAILS_ENV == "development"
			= javascript_include_tag 'protoFluid3.02.js'
		= javascript_include_tag 'rails'
		= javascript_include_tag 'jquery.validate.min.js'
		= javascript_include_tag 'splash'
		= javascript_include_tag 'date'
		= csrf_meta_tag
		/[if lt IE 9]
			%script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
		= yield(:head)
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-21462046-2']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

	%body
	
		#splash-container
			%header
				%h1= link_to "I Would Bang You", root_path
			-flash.each do |name, msg|
				= content_tag :div, raw(msg), :id => "flash_#{name}_splash", :class => "flash"
			= yield
		.clear
			
		%footer
			#container
				.fl
					%h1= link_to "I Would Bang You", root_path
					%p!= "&copy; #{Time.now.year} #{link_to "Ryan MacInnes", "http://www.goddamnyouryan.com/"}"
					%p
						= link_to image_tag('twitter.png'), "http://www.twitter.com/iwouldbangyou", :target => "_blank"
						= link_to image_tag('facebook.png'), "http://www.facebook.com/pages/Iwouldbangyou/215857168475583", :target => "_blank"
					%p
						<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FIwouldbangyou%2F215857168475583&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35&amp;appId=267556526607973" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
				.fr
					%nav
						%ul
							%li= link_to "Home", root_path
							%li= link_to "Sign Up", new_user_registration_path
							%li= link_to "Login", new_user_session_path
							%li= link_to "About", about_path
							%li= link_to "Contact", contact_path
				.clear
			